.App {
  text-align: center;
  line-height: 1.5em;
}

.title {
  font-size: 350%;
}

h1 {
  padding: 0.5em;
}

a {
  color: rgb(142, 119, 245);
  text-decoration: none;
}

a:hover {
  animation: link-hover 0.25s forwards;
}

#directions {
  text-align: left;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

@keyframes link-hover {
  to {
      color: #806bdb;
  }
}
